@import "/src/styles/extend.scss";

ul.article-timeline-items {
    --min-gap-between-items: 50px;
    --avatar-size: 96px;
    --avatar-border-width: 6px;
    --gap-between-avatar-and-content: 30px;
    --trailing-item-size-multiplier: 0.55;
    --avatar-offset-merge-mode: 10px;

    @include media-breakpoint-down(xxl) {
        --avatar-size: 90px;
    }

    @include media-breakpoint-down(xl) {
        --avatar-size: 85px;
    }

    @include media-breakpoint-down(lg) {
        --avatar-size: 75px;
        --gap-between-avatar-and-content: 25px;
    }

    @include media-breakpoint-down(md) {
        --avatar-size: 65px;
        --gap-between-avatar-and-content: 20px;
    }

    @include media-breakpoint-down(sm) {
        --avatar-size: 55px;
        --avatar-border-width: 4px;
        --gap-between-avatar-and-content: 0px;
    }
}

ul.article-timeline-items {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

ul.article-timeline-items:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: var(--avatar-border-width);
    background-color: var(--theme-timeline-line-color);
    left: calc(var(--avatar-size)/2 - var(--avatar-border-width)/2);
    z-index: 0;

    @include media-breakpoint-down($timeline-merge-mode-breakpoint) {
        height: calc(100% - var(--avatar-offset-merge-mode)*2);
    }
}

li.article-timeline-item {
    display: flex;
    margin-bottom: var(--min-gap-between-items);
}

div.article-timeline-item-avatar {
    min-width: var(--avatar-size);
    width: var(--avatar-size);
    height: var(--avatar-size);
    font-size: calc(var(--avatar-size)/2.2);
    border-radius: 100%;
    border: var(--avatar-border-width) solid var(--theme-timeline-line-color);
    overflow: hidden;
    z-index: 1;

    div.avatar-view-image-view {
        border-radius: 100%;
    }

    @include media-breakpoint-down($timeline-merge-mode-breakpoint) {
        position: relative;
        top: calc(-1 * var(--avatar-offset-merge-mode));
        left: calc(-0.7 * var(--avatar-offset-merge-mode));
    }
}

li.article-timeline-item-trailing {
    margin-bottom: 0;

    div.article-timeline-item-avatar {
        min-width: calc(var(--avatar-size)*var(--trailing-item-size-multiplier));
        width: calc(var(--avatar-size)*var(--trailing-item-size-multiplier));
        height: calc(var(--avatar-size)*var(--trailing-item-size-multiplier));
        margin-left: calc(var(--avatar-size)*(1 - var(--trailing-item-size-multiplier))/2);
    }

    div.article-timeline-item-avatar {
        background-color: var(--theme-timeline-line-color-accent);
        left: 0!important;
    }

    div.article-timeline-item-content {
        display: none;
    }
}

div.article-timeline-item-content {
    margin-left: var(--gap-between-avatar-and-content)!important;
    margin-top: calc(var(--gap-between-avatar-and-content)/2)!important;

    @include media-breakpoint-down($timeline-merge-mode-breakpoint) {
        position: relative;
        margin-left: calc(var(--gap-between-avatar-and-content) - var(--avatar-size)/2 + var(--avatar-border-width)/2)!important;
        margin-top: 0!important;
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
    }
}
