/**
 * @author Saba P
 * @description Mixin to build theme color scheme variables.
 */

$theme-contrast-steps: (1%, 2%, 3%, 4%, 5%, 6%, 7%, 8%, 9%, 10%, 12.5%, 15%, 17.5%, 20%, 25%, 30%);

@mixin build-theme(
    $isDarkMode,

    $theme-primary,
    $theme-secondary,
    $theme-dark,
    $theme-danger,
    $theme-muted,

    $theme-background,
    $theme-background-contrast,
    $theme-background-contrast-darken,
    $theme-texts,
    $theme-texts-inv,

    $theme-mobile-nav-background,
    $theme-mobile-nav,
    $theme-mobile-nav-border,
    $theme-mobile-nav-hover-background,
    $theme-mobile-nav-hover,
    $theme-mobile-nav-selected-background,
    $theme-mobile-nav-selected,
    $theme-mobile-nav-selected-border,

    $theme-section-background,
    $theme-card-background,
    $theme-pop-ups-background,
    $theme-boards-background,
    $theme-info-badge-background,
    $theme-info-badge,
    $theme-empty,

    $theme-standard-borders,
    $theme-scrollbar-track,
    $theme-scrollbar-thumb
) {
    --theme-primary: #{$theme-primary};
    --theme-secondary: #{$theme-secondary};
    --theme-dark: #{$theme-dark};
    --theme-danger: #{$theme-danger};
    --theme-muted: #{$theme-muted};

    --theme-background: #{$theme-background};
    --theme-background-contrast: #{$theme-background-contrast};
    --theme-background-contrast-darken: #{$theme-background-contrast-darken};
    --theme-texts: #{$theme-texts};
    --theme-texts-inv: #{$theme-texts-inv};

    --theme-mobile-nav-background: #{$theme-mobile-nav-background};
    --theme-mobile-nav: #{$theme-mobile-nav};
    --theme-mobile-nav-border: #{$theme-mobile-nav-border};
    --theme-mobile-nav-hover-background: #{$theme-mobile-nav-hover-background};
    --theme-mobile-nav-hover: #{$theme-mobile-nav-hover};
    --theme-mobile-nav-selected-background: #{$theme-mobile-nav-selected-background};
    --theme-mobile-nav-selected: #{$theme-mobile-nav-selected};
    --theme-mobile-nav-selected-border: #{$theme-mobile-nav-selected-border};

    --theme-section-background: #{$theme-section-background};
    --theme-card-background: #{$theme-card-background};
    --theme-card-background-opacity: #{rgba($theme-card-background, 0.8)};

    --theme-standard-borders: #{$theme-standard-borders};
    --theme-pop-ups-background: #{$theme-pop-ups-background};
    --theme-boards-background: #{$theme-boards-background};
    --theme-info-badge-background: #{$theme-info-badge-background};
    --theme-info-badge: #{$theme-info-badge};
    --theme-empty: #{$theme-empty};

    --theme-scrollbar-track: #{$theme-scrollbar-track};
    --theme-scrollbar-thumb: #{$theme-scrollbar-thumb};

    @if($isDarkMode) {
        --theme-links: #{lighten($theme-primary, 5%)};
        --theme-links-hover: #{lighten($theme-primary, 10%)};

        --theme-card-background-accent: #{lighten($theme-card-background, 2%)};
        --theme-boards-background-accent: #{darken($theme-boards-background, 2%)};
        --theme-boards-background-accent-inv: #{lighten($theme-boards-background, 1%)};
        --theme-section-background-accent: #{lighten($theme-section-background, 3%)};
        --theme-section-background-accent-inv: #{darken($theme-section-background, 3%)};

        --theme-standard-borders-accent: #{lighten($theme-standard-borders, 3%)};
        --theme-standard-borders-accent-2: #{lighten($theme-standard-borders, 5%)};

        --theme-timeline-line-color: #{lighten($theme-boards-background, 2%)};
        --theme-timeline-line-color-accent: #{darken($theme-boards-background, 5%)};

        --theme-opacity-border: #{rgba($theme-secondary, 0.15)};
        --theme-opacity-border-light: #{rgba($theme-secondary, 0.05)};
        --theme-opacity-border-accent: #{rgba($theme-secondary, 0.35)};
        --theme-invert-filter: 1;
    }
    @else {
        --theme-links: #{darken($theme-primary, 5%)};
        --theme-links-hover: #{darken($theme-primary, 10%)};

        --theme-card-background-accent: #{darken($theme-card-background, 2%)};
        --theme-boards-background-accent: #{darken($theme-boards-background, 2%)};
        --theme-boards-background-accent-inv: #{lighten($theme-boards-background, 0%)};
        --theme-section-background-accent: #{darken($theme-section-background, 5%)};
        --theme-section-background-accent-inv: #{lighten($theme-section-background, 5%)};

        --theme-standard-borders-accent: #{$theme-section-background};
        --theme-standard-borders-accent-2: #{darken($theme-standard-borders, 1%)};

        --theme-timeline-line-color: #{darken($theme-boards-background, 2%)};
        --theme-timeline-line-color-accent: #{lighten($theme-boards-background, 1%)};

        --theme-opacity-border: #{rgba(black, 0.15)};
        --theme-opacity-border-light: #{rgba(black, 0.05)};
        --theme-opacity-border-accent: #{rgba(black, 0.3)};
        --theme-invert-filter: 0;
    }

    @for $i from 1 through 16 {
        --theme-standard-borders-#{$i}: #{rgba($theme-standard-borders, calc($i/16))};

        @if($isDarkMode) {
            --theme-background-darken-#{$i}: #{darken($theme-background, nth($theme-contrast-steps, $i))};
            --theme-texts-#{$i}: #{darken($theme-texts, calc(nth($theme-contrast-steps, $i)*2))};
            --theme-primary-#{$i}: #{darken($theme-primary, nth($theme-contrast-steps, $i))};
            --theme-secondary-#{$i}: #{lighten($theme-secondary, nth($theme-contrast-steps, $i))};
        }
        @else {
            --theme-background-darken-#{$i}: #{lighten($theme-background, nth($theme-contrast-steps, $i))};
            --theme-texts-#{$i}: #{lighten($theme-texts, calc(nth($theme-contrast-steps, $i)*2))};
            --theme-primary-#{$i}: #{lighten($theme-primary, nth($theme-contrast-steps, $i))};
            --theme-secondary-#{$i}: #{darken($theme-secondary, nth($theme-contrast-steps, $i))};
        }
    }

    @if($isDarkMode) {
        --theme-texts-light: var(--theme-texts-5);
        --theme-texts-light-2: var(--theme-secondary);
        --theme-texts-light-3: #{darken($theme-secondary, 10%)};
        --theme-texts-light-4: #{darken($theme-secondary, 15%)};
    }
    @else {
        --theme-texts-light: var(--theme-texts-5);
        --theme-texts-light-2: var(--theme-secondary);
        --theme-texts-light-3: #{lighten($theme-secondary, 5%)};
        --theme-texts-light-4: #{lighten($theme-secondary, 10%)};
    }
}