@import "/src/styles/extend.scss";

div.nav-profile-card {
    --avatar-size: 140px;
    --border-size: 6px;
    --info-margin-top: 10px;
    --offset-status-circle: 15px;
    @media(min-height: 760px) {--avatar-size: 150px; --info-margin-top: 11px;}
    @media(min-height: 800px) {--avatar-size: 155px}
    @media(max-height: 690px) {--avatar-size: 130px}
    @media(max-height: 650px) {--avatar-size: 120px}

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent!important;
    position: relative;
    margin: 15px;

    &-avatar {
        width: var(--avatar-size);
        height: var(--avatar-size);
        border: var(--border-size) solid var(--theme-card-background-accent);
        border-radius: calc($standard-border-radius * 2);
        border-top-right-radius: 0;
    }

    &-status-circle {
        position: absolute;
        top: calc(var(--avatar-size) - var(--offset-status-circle));
        left: calc(50% + var(--avatar-size)/2 - var(--offset-status-circle)*1.2);
    }

    &-info {
        margin-top: var(--info-margin-top);
        margin-bottom: 3px;
        user-select: none;
        @include media-breakpoint-down($max-breakpoint-for-tabbed-interface) {
            margin-top: 14px;
            margin-bottom: 8px;
        }
    }

    h1.nav-profile-card-name {
        text-align: center;

        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 4px;
        font-size: 1.25rem!important;
        line-height: 1.8rem!important;

        @include media-breakpoint-down($max-breakpoint-for-tabbed-interface) {
            font-size: 1.5rem!important;
            margin-bottom: 7px;
        }
    }

    h1.nav-profile-card-name-with-audio-button {
        @include media-breakpoint-down($max-breakpoint-for-tabbed-interface) {
            margin-left: 65px;
            margin-right: 65px;
        }
    }

    div.nav-profile-card-role {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-secondary);
        font-size: 0.9rem;
        min-height: 25px;
        @include media-breakpoint-down($max-breakpoint-for-tabbed-interface) {
            font-size: 0.95rem;
            min-height: 25px;
        }
    }
}

div.nav-profile-card-shrink {
    --avatar-size: 80px;
    --border-size: 3px;
    --offset-status-circle: 12px;

    div.nav-profile-card-avatar {
        border-radius: calc($standard-border-radius * 2)!important;
    }

    div.nav-profile-card-info {
        display: none;
    }
}