@import "/src/styles/extend.scss";

div.image-view {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

img.image-view-img {
    width: 100%;
    height: 100%;
}

div.image-view-spinner-wrapper, div.image-view-error-wrapper {
    position: absolute;
    background-color: var(--theme-dark);
    color: var(--theme-texts);
    width: 100%;
    height: 100%;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.image-view-error-wrapper {
    font-size: 30px;
    color: var(--theme-texts);
    i { opacity: 0.3; }
}