@import "/src/styles/extend.scss";

div.custom-tooltip {
    position: absolute;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    pointer-events: none;

    padding: 0.2rem 1rem;

    background-color: var(--theme-pop-ups-background);
    color: var(--theme-texts);
    font-size: 0.9rem;
    border-radius: $standard-border-radius;
    border: 2px solid var(--theme-standard-borders-accent-2);

    transition: 0.1s opacity ease-out;
    z-index: $z-index-animated-cursor;

    &::before {
        content: '';
        position: absolute;
        top: calc(100% + 1px);
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--theme-standard-borders-accent-2) transparent transparent transparent;
    }

    &-hidden {
        transition: none;
        opacity: 0;
    }
}